@charset "UTF-8";
/* Stylesheet for the jMini Compiler Tool
 * File name: compiler.css
 */

/* the compiler section: */
#jMini-Compiler {
	& {
		width: 100%;
		max-width: 50em;
		margin: .5em auto;
		font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
		font-size: smaller;
	}
	& > header {
		& {
			background-color: #FBFCFB;
			color: #1B1B1B;
			border: #ECEDEC solid 1px;
			padding: 1em;
			margin: 1pt 0;
			border-radius: .75em .75em 1.5pt 1.5pt;
			display: grid;
			grid-template-columns: 1.5em auto min-content;
			column-gap: 1em;
			line-height: 2em;
		}
		&:hover {
			background-color: #F4F7F9;
		}
		label {
			cursor: pointer;
		}
		span.loading {
			& {
				display: grid;
				grid-template-columns: max-content 0;
				overflow: hidden;
			}
			&::before {
				content: '';
				display: inline-block;
				width: 2em; height: 2em;
				background: transparent url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%230077D4' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3E%3CanimateTransform attributeName='transform' type='rotate' dur='1s' from='0 50 50' to='360 50 50' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E") center no-repeat;
				background-size: 2em;
			}
		}
	}
	& > footer {
		& > details {
			& {
				margin: 1pt 0;
			}
			& > summary {
				& {
					background-color: #FBFCFB;
					color: #1B1B1B;
					border: #ECEDEC solid 1px;
					padding: 1em;
					margin: 0;
					display: grid;
					grid-template-columns: 1.5em auto 2em;
					align-items: center;
					column-gap: 1em;
					line-height: 2em;
					cursor: pointer;
				}
				&::marker {
					content: none;
					display: none;
				}
				&::before {
					content: '';
					display: inline-block;
					width: 1.5em;
					height: 1.5em;
					background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.59,15.5L17.77,14.2C18.07,13.12 18.09,11.95 17.77,10.78L19.59,9.5L18.14,7L16.11,7.92C15.32,7.12 14.32,6.5 13.15,6.21L12.95,4H10.05L9.85,6.21C8.68,6.5 7.68,7.12 6.89,7.92L4.86,7L3.41,9.5L5.23,10.78C4.91,11.95 4.93,13.12 5.23,14.2L3.41,15.5L4.86,18L6.89,17.07C7.68,17.86 8.68,18.46 9.85,18.77L10.05,21H12.95L13.15,18.77C14.32,18.46 15.32,17.86 16.11,17.07L18.14,18L19.59,15.5M13.5,3C13.77,3 14,3.2 14,3.46L14.18,5.5C14.94,5.78 15.62,6.19 16.23,6.68L18.08,5.81C18.31,5.69 18.6,5.77 18.74,6L20.74,9.5C20.88,9.71 20.8,10 20.58,10.15L18.91,11.32C19.04,12.12 19.03,12.91 18.91,13.68L20.58,14.85C20.8,15 20.88,15.29 20.74,15.5L18.74,19C18.6,19.21 18.31,19.29 18.08,19.17L16.23,18.31C15.62,18.8 14.94,19.2 14.18,19.5L14,21.5C14,21.79 13.77,22 13.5,22H9.5C9.22,22 9,21.78 9,21.5L8.82,19.5C8.06,19.2 7.38,18.8 6.77,18.31L4.92,19.17C4.69,19.29 4.4,19.21 4.26,19L2.26,15.5C2.12,15.29 2.2,15 2.42,14.85L4.09,13.68C3.97,12.91 3.96,12.12 4.09,11.32L2.42,10.15C2.2,10 2.12,9.71 2.26,9.5L4.26,6C4.4,5.77 4.69,5.69 4.92,5.81L6.77,6.68C7.38,6.19 8.06,5.78 8.82,5.5L9,3.46C9,3.2 9.23,3 9.5,3H13.5M11.5,9C13.43,9 15,10.57 15,12.5C15,14.43 13.43,16 11.5,16C9.57,16 8,14.43 8,12.5C8,10.57 9.57,9 11.5,9M11.5,10C10.12,10 9,11.12 9,12.5C9,13.88 10.12,15 11.5,15C12.88,15 14,13.88 14,12.5C14,11.12 12.88,10 11.5,10Z' fill='%231B1B1A'/%3E%3C/svg%3E") center no-repeat;
					background-size: 1.5em;
				}
				&::after {
					content: '';
					display: inline-block;
					width: 2em;
					height: 2em;
					background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5.84,9.59L11.5,15.25L17.16,9.59L16.45,8.89L11.5,13.84L6.55,8.89L5.84,9.59Z' fill='%230077D4'/%3E%3C/svg%3E") center no-repeat;
					background-size: 2em;
					transform: rotateX(0deg);
					transition-duration: 400ms;
					transition-timing-function: ease-in-out;
				}
				&:hover {
					background-color: #F4F7F9;
				}
			}
			&[open] > summary::after {
				transform: rotateX(180deg);
			}
			& > fieldset {
				& {
					background-color: #FBFCFB;
					color: #1B1B1B;
					border: #ECEDEC solid 1px;
					border-top-width: 0;
					margin: 0;
				}
				legend {
					position: fixed;
					left: -400pt;
					top: -400pt;
					width: auto;
					z-index: 9999;
					overflow: hidden;
				}
				p {
					margin: .5em 0 1em 2.25em;
				}
			}		
		}
		& > p {		
			& {
				margin: 1pt 0;
				background-color: #FBFCFB;
				color: #1B1B1B;
				border: #ECEDEC solid 1px;
				padding: 1em;
				text-align: center;
				border-radius: 1.5pt 1.5pt .75em .75em;
			}
			button {
				appearance: none;
				background-color: #0067C0;
				color: #FFF;
				padding: .5em 1.5em;
				border: #1473C5 solid 1pt;
				border-bottom-color: #003E73;
				border-radius: .25em;
				cursor: pointer;
			}
			button:hover {
				background-color: #003E73;
			}
			button[disabled] {
				color: #646564;
				background-color: #FBFCFB;
				border-color: #E2E6E6;
				cursor: initial;
			}
			button[disabled]:hover {
				background-color: #FBFCFB;
			}
		}
	}
}

/* Error message */
#jMini-Error {
	border: #A22 solid 2pt;
	border-radius: .5em;
	margin: 1em auto;
	padding: .5em;
	background-color: #FAE7E7;
	color: #A22;
}
